## Unity ##

\CombatSystemV2\*.cs diff=csharp text
\CombatSystemV2\*.cginc text
\CombatSystemV2\*.shader text

\CombatSystemV2\*.mat merge=unityyamlmerge eol=lf
\CombatSystemV2\*.anim merge=unityyamlmerge eol=lf
\CombatSystemV2\*.unity merge=unityyamlmerge eol=lf
\CombatSystemV2\*.prefab merge=unityyamlmerge eol=lf
\CombatSystemV2\*.physicsMaterial2D merge=unityyamlmerge eol=lf
\CombatSystemV2\*.physicMaterial merge=unityyamlmerge eol=lf
\CombatSystemV2\*.asset merge=unityyamlmerge eol=lf
\CombatSystemV2\*.meta merge=unityyamlmerge eol=lf
\CombatSystemV2\*.controller merge=unityyamlmerge eol=lf


## git-lfs ##

#Image
\CombatSystemV2\*.jpg filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.jpeg filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.png filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.gif filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.psd filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.ai filter=lfs diff=lfs merge=lfs -text

#Audio
\CombatSystemV2\*.mp3 filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.wav filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.ogg filter=lfs diff=lfs merge=lfs -text

#Video
\CombatSystemV2\*.mp4 filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.mov filter=lfs diff=lfs merge=lfs -text

#3D Object
\CombatSystemV2\*.FBX filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.fbx filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.blend filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.obj filter=lfs diff=lfs merge=lfs -text

#ETC
\CombatSystemV2\*.a filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.exr filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.tga filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.pdf filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.zip filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.dll filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.unitypackage filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.aif filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.ttf filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.rns filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.reason filter=lfs diff=lfs merge=lfs -text
\CombatSystemV2\*.lxo filter=lfs diff=lfs merge=lfs -text

